# HTX (Huobi) API credentials
HTX_API_KEY=your_api_key_here
HTX_API_SECRET=your_api_secret_here

# Optional: set to "true" for testnet
HTX_TESTNET=false

#VPS Server
IP=31.97.105.238
USER=root
PASSWORD=w7XBiu++Ph4t4dlB1nWRMwzznowtt6k5
